<template>
  <div id="app">
    <header>
      <h1>Get Your Discount!</h1>
    </header>
    <main>
      <form @submit.prevent="getDiscount">
        <label for="age">Enter your age:</label>
        <input type="number" v-model="age" id="age" required min="0" />
        <button type="submit">Calculate Discount</button>
      </form>
      <div v-if="discount !== null" class="result">
        <p>Your discount is: {{ discount * 100 }}%</p>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      age: null,
      discount: null,
    };
  },
  methods: {
    async getDiscount() {
      try {
        const response = await fetch(`http://localhost:3000/discount?age=${this.age}`);
        if (!response.ok) {
          throw new Error('Error fetching discount');
        }
        const data = await response.json();
        this.discount = data.discount;
      } catch (error) {
        console.error(error);
        alert('Failed to fetch discount');
      }
    },
  },
};
</script>

<style scoped>
#app {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #2c3e50;
}

header {
  background-color: #ff69b4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 2.5em;
  color: white;
}

main {
  margin: 20px;
}

form {
  display: inline-block;
  margin-top: 20px;
}

label {
  font-size: 1.2em;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #ff69b4;
  border-radius: 5px;
  font-size: 1em;
}

button {
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff1493;
}

.result {
  margin-top: 20px;
  font-size: 1.5em;
  color: #ff69b4;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
</style>
